.banner {
  background-size: cover;
  background-position: center;
  padding: 200px 0;
}

.banner h1 {
  color: white;
  font-size: 50px;
}

.banner p {
  color: white;
  opacity: .7;
  font-size: 30px;
}

.btn-primary {
  display: inline-block;
  background-color: green;
  padding: 16px 36px;
  border-radius: 50px;
  color: white;
}
